/******************Main*****************/
body {
	font-family: 'Open Sans', sans-serif; 
	font-weight: 300;
}

h1 {
	font-size: 33px;
}

h1, h2, h3,.h1small {
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   color: #fff;
}

ul {
	list-style: none; 
	padding: 0; 
	margin: 0;
}

.btn-social-icon {
	margin: 0 .3rem;
}

/******************Header******************/
header {
	margin-top: 4rem;
	.navbar-light .navbar-nav .nav-link {
		border: 1px solid transparent;
		color: #000;
	}
	.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
		 color: #000;
		 border: 1px solid #6c757d;
		 border-radius: 3px;
	}
	nav {
		.navbar-toggler {
			font-size: 1rem;
			padding: 5px;
		}
		.navbar-brand {
			margin-right: 0;
		}
		.collapse {
			.navbar-nav {
				padding: 0 1rem;
				.nav-item {
					font-size: 14px; font-weight: 400;
				}
			}
			.navbar-text {
				font-size: 14px;
				font-weight: 400;
				.phone {
					background: url('../img/hphone.png') no-repeat left center;
					padding-left: 22px;
					font-size: 22px;
				}
			}
		}
	}
}

/******************Jumbotron******************/
.jumbotron {
	background: url('../img/trans-bg.jpg') no-repeat center top;
	min-height: 581px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border-radius: 0;
	.title {
		font-size: 28px;
		background: rgba(0, 32, 58, 0.45);
	}
	.h1small {
		font-size: 45px; 
		background: rgba(0, 32, 58, 0.45);
	}
	.aa {
		font-size: 20px; 
		font-weight: 400; 
		color: #fff;
		background: rgba(0, 32, 58, 0.85);
	}
	.aa li { 
		background: rgba(0, 0, 0, 0) no-repeat scroll left center;
		min-height: 53px;
	    padding-left: 65px;
	}
	.aa li.a2 {
		background-image: url("../img/a2.png");
	}
	.ibox { 
		color: #fff; 
		background: rgba(0, 32, 58, 0.45); 
		box-shadow: 0px 9px 24.03px 2.97px rgba(10, 43, 83, 0.07);
	}
}

/******************Algoritm******************/
.algoritm {
	.row {
		margin: 2rem 0 2rem 0;
	}
	.text {
		a {
			border-bottom: 1px dotted red;
			color: red;
			text-decoration: none;
		}
		a:hover {
			color: #000;
		}
	}
}

/******************Portfolio******************/
.portfolio {
	background: url('../img/trans-bg-2.jpg') no-repeat center top;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	padding: 35px 0;
	h2 {
		color: #fff;
	}
	.iwrap {
	    background: #fff;
	    max-width: 800px;
	}
	.btn {
		padding: .5rem;
	}
}

/******************Specialisti******************/
.spec-item {
	background: #fff;
	.spec-image {
		display: inline-block;
		/*overflow: hidden;
		border-radius: 50%;*/
		img {
			width: 100%;
			max-width: 250px;
		}
	}
	.spec-caption {
		background: #efefef;
		color: #212529;
		max-width: 250px;
		margin: 0 auto;
		.spec-name {
			font-weight: 600;
		}
		.spec-social {
			.btn {
				border: 0;
			}
			.fa {
				color: #000;
				background: #efefef;
			}
		}
	}
}

/******************Diagnostic******************/
.diagnostika {
	background: url('../img/trans-bg-4.jpg') no-repeat center top;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	.att {
  		li {
  			background: rgba(0, 0, 0, 0) url("../img/attention.png") no-repeat scroll center left;
			padding-left: 35px; 
			min-height: 26px; 
			margin-bottom: 25px;
  		}
  		img {
  			padding-top: 5px;
  		}
  	}
  	.profi {
		background: rgba(0, 0, 0, 0) url("../img/trans-bg-small2.jpg") no-repeat scroll left 0; 
		box-shadow: none;
		min-height: 300px;
		.title-profi {
			color: #fff; 
			font-size: 40px; 
			font-weight: 700;
			line-height: 1.25;
		}
		.description-profi {
			font-size: 22px; 
			color: #fff; 
			font-weight: 700;

		}
		.description-profi:after {
			content: "";
			width: 64px;
			height: 4px;
			margin-top: 15px;
			display: block;
			background: #e84a52;
		}
  	}
  	.col-lg-4 {
		padding: 0;
		.ibox { 
			color: #fff; 
			background: rgba(0, 32, 58, 0.45); 
			box-shadow: 0px 9px 24.03px 2.97px rgba(10, 43, 83, 0.07);
		}
	}
}

/******************Uslugi******************/
.uslugi {
	img {
		max-width: 100%;
		height: auto;
	}
	.boxbox {
		-webkit-box-shadow: 0 8px 6px -6px grey;
	    -moz-box-shadow: 0 8px 6px -6px grey;
	    box-shadow: 0 8px 6px -6px grey;
		//box-shadow: 0px 9px 24.03px 2.97px rgba(10, 43, 83, 0.07); 
		background: #fff; 
		border-radius: 5px; 
		max-width: 429px;
		img {
			border-radius: 5px;
		}
		.bborder {
			font-size: 26px;
			min-height: 70px;
			color: #27354f;
			padding-top: 2rem;
		}
		.bborder:after {
			content: "";
			width: 64px;
			height: 4px;
			margin: 10px auto 5px;
			display: block;
			background: #e84a52;
		}
		.bbordersmall {
		   font-family: 'Open Sans', sans-serif;
		   font-weight: bold;
		   color: #27354f;
		   font-size: 24px;
		}
		.check {
			text-align: left; 
			font-size: 16px;
			padding: 0 2rem;
			li {
				background: url('../img/check.png') no-repeat left 6px;
				padding-left: 24px;
				margin-bottom: 15px;
			}
		}
	}
}

/******************Video******************/
.rolik {
	background: url('../img/trans-bg-3.jpg') no-repeat center top;
	min-height: 392px;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #fff;
	h2 {
		color: #fff;
	}
	h4 {
		font-size: 22px; 
		text-align: center;
	}
	a {
		color: red;
		text-decoration: none;
		border-bottom: 1px dotted red;
		font-weight: 700;
	}
	a:hover {
		text-decoration: none;
		border-bottom: 1px dotted red;
		color: red;
		font-weight: 700;
	}
	.form-container {
		text-align: center;
	}
}

/******************Kontakt******************/
#kontakt {
	.small-2 {
		font-size: 14px;
		text-align: right;
	}
}

/*******************Footer******************/
footer {
	a {
		color: #000;
	}
	a:hover {
		color: #000;
	}
	p {
		padding: 0;
		margin: 0;
	}
	.fa {
		color: #fff;
	}
	.btn-youtube {
		background-color: #cc181e;
	}
	.btn-youtube:hover {
		background-color: #b7151b;
	}
	.phone {
		background: url('../img/hphone.png') no-repeat left center;
		padding-left: 22px;
		font-size: 22px;
	}
	.small {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 300;
	}
}

/**************Scroll*********************/
#return-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: rgb(0, 0, 0);
    background: #e84a52;
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    i {
	    color: #fff;
	    margin: 0;
	    position: relative;
	    left: 11px;
	    top: 8px;
	    font-size: 19px;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	}

}
#return-to-top:hover {
    background: #e84a52;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/******************Section******************/
section {
	padding: 3rem 0;
	.caption {
		font-size: 24px; 
		font-family: 'Open Sans', sans-serif; 
		font-weight: bold; 
		margin-top: 15px;
		color: #27354f;
	}
	.title-page {
		padding-bottom: .5rem;
		font-size: 40px; 
		color: #27354f;
		text-align: center;
	}
	.title-page-white {
		padding-bottom: .5rem;
		font-size: 40px; 
		color: #fff;
		text-align: center;
	}
	.title-page:after {
		content: "";
		width: 64px;
		height: 4px;
		margin: 15px auto;
		display: block;
		background: #e84a52;
	}
	.title-page-white:after {
		content: "";
		width: 64px;
		height: 4px;
		margin: 15px auto;
		display: block;
		background: #e84a52;
	}
}

/******************Form*****************/
.form-control {
    box-shadow: none;
    color: #000;
    font-size: 16px;
	font-weight: 300;
    min-height: 45px;	
}

.form-control:focus { 
	border-color: #d2002b;
	box-shadow: none;
}

.form-control::-moz-placeholder {
    color: #525252;
    font-size: 16px;
	opacity: 1;
}

.form-control::-webkit-input-placeholder {
    color: #525252;
    font-size: 16px;
	opacity: 1;
}

/******************Modal******************/
.modal-dialog {
	width: auto;
	max-width: 500px;
	.modal-content {
		border-radius: 5px;
		border: none;
		box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.06); 
		padding: 20px 20px;
		.btn {
			font-size: 19px;
			padding: 10px 20px;
		    margin: 5px 0;
			width: 100%;
		}
		.modal-header {
		    border: 0;
		    .close {
			    font-size: 25px;
				margin: 0;
			}
		    .modal-title {
				font-size: 20px; 
			}
		}
	}
}
	

/******************Media******************/
@media (max-width: 768px) {
	.btn {
		font-size: 16px;
		padding: .5rem;
	}
	section {
		padding: 1rem 0;
		.title-page {
			font-size: 2rem; 
		}
	}
	header {
		nav {
			.navbar-brand {
				margin: 0 auto;
				padding-right: 1.6rem;
			}
			.collapse {
				.navbar-text {
					max-width: 230px;
				}
			}
		}
	}
	.jumbotron {
		.title {
			font-size: 25px; 
			text-align: center;
		}
		.h1small {
			font-size: 25px; 
			text-align: center;
		}
		.ibox {
			margin-top: 1rem;
		}
	}
	.portfolio {
		min-height: 500px;
	}
	.diagnostika {
	  	.profi {
			.title-profi {
				font-size: 32px; 
			}
			.description-profi {
				font-size: 20px; 
			}
	  	}
	  	.col-lg-6 {
			border-radius: 3px;
		}
		.ibox {
			border-radius: 3px;
		}
	}
	.uslugi {
		.boxbox {
			margin-top: 30px;
		}
	}
	.rolik {
		h4 {
			font-size: 16px;
		}
		.video {
			position:relative;
			padding-bottom:56.25%;
			/*пропорции видео 16:9 */
			padding-top:25px;
			height:0;
			iframe {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
		}
	}
	#kontakt {
		.small-2 {
			font-size: 14px;
			text-align: center;
		}
	}
	footer {
		.col-12 {
			padding: .5rem 0;
		}
		.btn {
			padding: 0;
		}
		.small {
			font-size: 14px;
		}
	}
}

@media(max-width:992px) {
	section {
		.title-page {
			font-size: 2rem;
			margin-bottom: 0; 
		}
		.title-page-white {
			font-size: 2rem; 
		}
	}
	.mx-3 {
		margin-left: 0!important;
	}
	.navbar-collapse {
		border: 0;
		position: absolute;
		top: 72px;
		left: 0;
		text-align: center;
		padding: 0 15px;
		padding-bottom: 15px;
		width: 100%;
		background: #fff;
		-webkit-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.1);
		box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.1);
	}
	.navbar-collapse.collapsing {
		height: auto;
		-webkit-transition: left 0.3s ease;
		-o-transition: left 0.3s ease;
		-moz-transition: left 0.3s ease;
		transition: left 0.3s ease;
		left: -100%;
	}
	.navbar-collapse.show {
		padding: 1rem 0;
		left: 0;
		-webkit-transition: left 0.3s ease-in;
		-o-transition: left 0.3s ease-in;
		-moz-transition: left 0.3s ease-in;
		transition: left 0.3s ease-in;
	}
	.navbar-nav {
		margin: 0 15%;
	}
	.jumbotron {
		.title {
			text-align: center;
		}
		.h1small {
			text-align: center;
		}
		.ibox {
			margin-top: 1rem;
		}
	}
	.algoritm {
		.row {
			margin: 0;
		}
		.col-12 {
			margin-bottom: 2rem;
		}
	}
	.diagnostika {
	  	.col-lg-6 {
			border-radius: 3px;
		}
		.ibox {
			margin-top: .5rem;
			border-radius: 3px;
		}
	}
	.uslugi {
		.boxbox {
			.check {
				padding: 0 2rem;
			}
		}
	} 
}

@media (min-width: 993px) and (max-width: 1199px) {
	header {
		margin-top: 6rem;
	}
	
}

@media (min-width: 1200px) and (max-width: 1919px) {
	.jumbotron {
		.title {
			max-width: 85%;
		}
	} 
	
}

@media (min-width: 1920px) {
	.container {
		max-width: 1920px;
		width: 80%;
	}
	header {
		.navbar-nav {
			margin: 0 auto;
		}
	} 
	.jumbotron {
		.title {
			max-width: 65%;
		}
		.ibox {
			max-height: 440px;
		}
		.pomosch {
			flex: 0 0 75%;
			max-width: 75%;
		}
		.besplatno {
			max-width: 25%;
		}
	} 
	.diagnostika {
		.mt-5 {
			max-width: 1140px;
			margin: 0 auto;
		}
	}
	.specialisti {
		.container {
			max-width: 1140px;
		}
	}
}